i[data-count]::after {
  position: absolute;
  right: 10%;
  top: -20%;
  content: attr(data-count);
  font-size: 0.5em;
  padding: .2em;
  border-radius: 50%;
  line-height: 1em;
  color: #fff;
  background: rgb(220, 53, 69);
  text-align: center;
  min-width: 1em;
}
