<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Widgets R Us{% endblock %}</title>

        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet"/>
        <link href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet"/>
        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet"/>
        <style>
            body {
                background: #f8f8f8;
            }
            .float-right {
                float: right;
            }
        </style>
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% include 'partials/navbar.html' %}


        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" defer></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
