{% extends "base.html" %}

{% block content %}
<div class="container" @vue:mounted="mounted" v-scope v-cloak>
    <div class="row" v-if="items.length > 0">
        <div class="col-4" v-for='item in items' :index="item.id">
            <div class="card mt-2 ml-2">
                <a :href="'/item/' + item.slug">
                    <img class="card-img" :src="productImage(item)" :alt="item.name"/>
                </a>
                <div class="card-body">
                    <span class="fw-semibold" v-text="item.name"></span> $ <span v-text="item.sale_price"></span><br/>
                    <div class="row justify-content-end mt-5">
                        <a :href="'/item/' + item.slug" style="max-width: 35%" class="btn btn-success">Add to Cart</a>
                        <a :href="'/item/' + item.slug" style="max-width: 35%" class="btn btn-outline-success ms-2">Product Info</a>
                    </div>
                </div>
            </div>
        </div>

        <div v-else class="alert alert-warning text-center">There are no items to display</div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/petite-vue.js')}}"></script>
<script defer>
    let app = PetiteVue.createApp({
        items: {{ items | safe }},
        mounted: function(e) {
            console.log(this.items)
        },
        productImage(item) {
            return "https://via.assets.so/img.jpg?w=150&h=90&bg=e5e7eb&text=" + item.name + "&fontSize=12&f=png"
        }
    });

    app.mount()
</script>
{% endblock %}

