{% extends "base.html" %}

{% block title %}
    {{ item.name | title }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="row">
            <a href="/store">&larr; Go Back</a>
        </div>
        <div class="card px-0">
            <img class="card-img" src="https://via.assets.so/img.jpg?w=150&h=150&bg=e5e7eb&text={{item.name}}&fontSize=12&f=png" alt="{{item.name}}" />

            <div class="card-body">
                <h1>{{ item.name | title }}</h1>
                $ {{ "{:,.2f}".format(item.sale_price) }}
                <p>{{ item.description | replace('\n', '</p><p>') | safe }}</p>

                {% include 'partials/messages.html' %}

                <form action="/cart/add/{{item.slug}}" method="POST" class='col-6 offset-6'>
                    {# <input type="hidden" name='prev' value="/item/{{item.slug}}" readonly hidden /> #}
                    <div class="row">
                        <div class="btn-group">
                            <label for="quantity" class='pt-2'>Qty:</label>
                            &nbsp;
                            <input type='number' name='quantity' value="1" min="-1" max="{{item.on_hand*2}}" class="form-control" style="max-width: 75px;" />
                            <button type="submit" class="btn btn-success">Add to Cart</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12">
        <h2>Reviews:</h2>

        {% for review in item.reviews %}
            <div class="review">
                <h3>
                    {{review.reviewer}}

                    <span class="float-right">{{review.rating|rating_stars}}</span>
                </h3>

                {{review.review_text}}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block styles %}
<style>
    .card {
        width: 90%;
        max-width: 600px;
        justify: center;
    }
    .review {
        background: #fff !important;
        border: 1px solid #e0e0e0;
        margin-top: 1em !important;
        border-radius: 0.25em;
        padding: 1em 2em;
        box-shadow: 2px 2px 5px 0px #e0e0e0;
  }
</style>
{% endblock %}
